html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
}

#menu {
  float: left;
  width: 20%;
  height: 100%;
  background-color: grey;
  margin: 0px;
  padding: 10px;
  position: fixed;
}

#title {
  float: right;
  position: relative;
  top: 100px;
  width: 75%;
  text-align: center;
}

.main {
  float: right;
  position: relative;
  top: 25px;
  width: 75%;
  padding-right: 25px;
  padding-bottom: 100px;
}

#center {
  text-decoration: underline;
  font-size: 2em;
  font-weight: bold;
}

.titletext {
  color: blue;
  font-size: 6em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-seriff;
  padding: 25px 25px 25px 0px;
  text-shadow: 5px 5px #ff0000;
}

h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.js {
  color: green;
  margin-left: 20px;
}

.js2 {
  color: green;
  margin-left: 40px;
}

.js3 {
  color: green;
  margin-left: 60px;
}

.js4{
  color: green;
  margin-left: 80px;
}